<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer th:fragment="copy" class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.3.6
			</div>
			<strong>Copyright &copy; 2017-2020 LC-TECHNOLOGY.
			</strong> 版权所有.
		</footer>
		<!-- jQuery 2.2.3 -->
	<script th:src="@{'/static/staticres/js/jquery-2.2.3.min.js'}"></script>
	<script th:src="@{'/static/staticres/bootstrap/js/bootstrap.js'}"></script>
	<script th:src="@{'/static/staticres/plugins/bootstrap-addtabs/js/bootstrap-addtabs.js'}"></script>
	<script th:src="@{'/static/staticres/plugins/showLoading/js/jquery.showLoading.js'}"></script>
	<script th:src="@{'/static/staticres/dist/js/demo.js'}"></script>
	<script th:src="@{'/static/staticres/test/jquery.js'}"></script>
	<script th:src="@{'/static/staticres/test/jquery-ui.js'}"></script>
</body>
</html>