<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{'/static/staticres/test/jquery-ui.css'}" />
<link rel="stylesheet" th:href="@{'/static/staticres/test/test.css'}" />
<title></title>
</head>
<body>

<div class="container-fluid" style="padding:10px 23px 10px 23px;">
		<!-- 检索  -->
		<form action="areaList" method="post" name="Form" id="Form">
			<div class="row table-query">
				<table>
					<tr>
						<td><input class="form-control input-sm"  id="nav-search-input" type="text" name="NAME" value="" placeholder="区域名称" /></td>
						<td><a class="btn btn-block btn-default btn-sm btn-flat" onclick="query();" title="检索"><i class="fa fa-search" style="color: #3C8DBC;"></i></a></td>
					</tr>
				</table>
			</div>
			</form>
			
			
		<div class="row" >
				<table id="table_report" class="table table-striped table-condensed table-bordered table-hover" style="margin:5px 0px 0px 2px;">
					<thead>
						<tr>
							<th><input  type="checkbox" id="zcheckbox" /></th>
							<th>区域名称</th>
							<th>时钟源</th>
							<th>定位维度</th>
							<th>备注</th>
							<th>区域状态</th>
							<th style="text-align: center; width:200px;">操作</th>
						</tr>
					</thead>
					<tbody th:if="${flag == 'area'}">
								<tr th:each="area:${areaList}">
											<td><input type='checkbox' name='ids' th:value="${area.id}"></td>
											<td th:text="${area.areaName}"></td>
											<td th:text="${area.clockName}"></td>
											<td th:id="${area.id}" th:if="${area.areaWide} == 1" th:text="一维"></td>
											<td th:id="${area.id}" th:if="${area.areaWide} == 2" th:text="二维"></td>
											<td th:id="${area.id}" th:if="${area.areaWide} == 3" th:text="三维"></td>
											<td th:text="${area.remarks}"></td>
											<td th:if="${area.action} == 'true'">
												<span>在线</span>
											</td>
											<td th:if="${area.action} != 'true'">
												<span>离线</span>
											</td>
											
											
									<td style="width: 180px;text-align: center;">
										<button type="button" class="btn bg-purple btn-xs btn-flat" onclick="gotoAreaEditOnMap()">编辑形状</button>
										<!-- 复制区域配置信息 -->
										 <button type="button" class="btn bg-purple btn-xs btn-flat" th:onclick="'javascript:copy('+${area.id}+')'">复制区域</button>
										<a title="修改"  class="btn btn-social-icon  btn-primary btn-xs btn-flat" th:onclick="'javascript:edit('+${area.id}+')'"><i class="fa fa-edit"></i></a>
										
										<a class="btn btn-social-icon btn-danger btn-xs btn-flat" title="删除" th:onclick="'javascript:del('+${area.id}+')'"><i class="fa fa-trash"></i></a>
									</td>
								</tr>
						</tbody>
				</table>
				<a class="btn btn-small btn-success btn-sm btn-flat" onclick="add();">新增</a>
		</div>
		<form id="pageForm" >
		<input type="hidden" id="pages" name="pages">
		<div>
			<nav align="right" aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#" th:onclick="javascript:jumpPage(1)" aria-label="首页">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#" onclick="jumpPre()">上一页</a></li>
			     <li><a href="#" th:text="${pages}"></a></li>
			    <li><a href="#" onclick="jumpNext()">下一页</a></li>
			    <li>
			      <a href="#" id="end" onclick="jumpEnd()" aria-label="尾页">
			        <span aria-hidden="true" placeholder="尾页" >&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</form>
	</div>

<div>
	<input type="hidden" th:value="${rtle.logitude}" th:name="longitude" th:id="longitude" maxlength="32">
	<input type="hidden" th:value="${rtle.latitude}" th:name="latitude" th:id="latitude" maxlength="32">
</div>

<script th:src="@{'/static/staticres/test/jquery.js'}"></script>
<!--引入弹窗组件start-->
<script th:src="@{'/static/staticres/plugins/attention/zDialog/zDrag.js'}"></script>
<script th:src="@{'/static/staticres/plugins/attention/zDialog/zDialog.js'}"></script>
<script type="text/javascript">
//查询
function query(){
	var areaName = $("#nav-search-input").val();
	if(areaName == null || areaName.trim().length == 0){
		Dialog.alert("输入信息有误");
	}else{
		$.ajax({
			type:"GET",
			url:"select?areaName="+areaName,
			success:function(data){
				if(data.msg == "success"){
					window.location.href="areaList?ids="+data.ids;
				}else if(data.msg== "fail"){
					Dialog.alert("没有找到对应的区域");
				}
			}
		});
	}
}
//删除区域
function del(id){
	var d = {};
	d.id = id;
	Dialog.confirm("确认删除此区域吗？",function(){
		$.ajax({
			type:"GET",
			url:"delete?id="+id,
			contentType: "application/json;charset=utf-8",
			success: function(data){
				if(data.msg == "success"){
					window.location.href="areaList";
				}else{
					Dialog.confirm("删除区域失败");
				}
			}
		});
	});
	
}
var addDiag;
//复制区域
function copy(id){
	 addDiag = new Dialog();
	addDiag.Width = 770;
	addDiag.Height = 420;
	addDiag.Title = "复制区域";
	addDiag.URL = "copy?id="+id;
	addDiag.OKEvent = function(){
		addDiag.innerFrame.contentWindow.save();
	}
	addDiag.CancelEvent = function(){//关闭事件
		if(addDiag.innerFrame.contentWindow.document.getElementById('zhongxin').style.display == 'none'){
			location.reload();
		}
		addDiag.close();
	}
	addDiag.show(); 
}
//编辑形状
function gotoAreaEditOnMap(){
	window.parent.addEditMap('area/mapLngLat?longitude='+$("#longitude").val()+'&latitude='+$("#latitude").val());
	/*
	var diag = new Dialog();
	diag.Width = '100%';
	diag.Height = '100%';
	diag.Title ="区域编辑形状";
	diag.URL = 'mapLngLat?longitude='+$("#longitude").val()+'&latitude='+$("#latitude").val();
		diag.OKEvent = function(){
		var lonlat = diag.innerFrame.contentWindow.document.getElementById('textValue').innerHTML;
		var strs= new Array(2); //定义数组 
		strs=lonlat.split(","); //字符分割 
		$("#longitude").val(strs[0].substring(0,11));
		$("#latitude").val(strs[1].substring(0,10));
		diag.close();
	};
	diag.CancelEvent = function(){ //关闭事件
		diag.close();
	 }; 
	 diag.show();
	 */
}	

//跳转页面
function jumpPage(pages) {
			var url = '[[${url}]]';
			url = url.split("/")[1];
			$("#pages").val(pages);
			$("#pageForm").attr({"method":"post","action":url});
			$("#pageForm").submit();
		}
//上一页
function jumpPre(){
	var pages = [[${pages}]] - 1;
	if(pages < 1){
		pages = 1;
	}
	jumpPage(pages);
}
//下一页
function jumpNext(){
	var pages = [[${pages}]] + 1;
	var sumPage = [[${sumPage}]]
	if(pages > sumPage){
		pages = sumPage
	}
	jumpPage(pages)
}
//尾页
function jumpEnd(){
	var sumPage = [[${sumPage}]]	
	jumpPage(sumPage)
}

//添加区域配置
function add(){
	addDiag = new Dialog();
	addDiag.Width = 770;
	addDiag.Height = 420;
	addDiag.Title = "新增";
	addDiag.URL = "areaAdd";
	addDiag.OKEvent = function(){
		addDiag.innerFrame.contentWindow.save();
	}
	addDiag.CancelEvent = function(){//关闭事件
		if(addDiag.innerFrame.contentWindow.document.getElementById('zhongxin').style.display == 'none'){
			location.reload();
		}
		addDiag.close();
	}
	addDiag.show(); 
}
//修改区域配置
function edit(id){
	addDiag = new Dialog();
	addDiag.Width = 770;
	addDiag.Height = 420;
	addDiag.Title = "修改区域";
	addDiag.URL = "areaAdd?id="+id;
	addDiag.OKEvent = function(){
		addDiag.innerFrame.contentWindow.save();
	}
	addDiag.CancelEvent = function(){//关闭事件
		if(addDiag.innerFrame.contentWindow.document.getElementById('zhongxin').style.display == 'none'){
			location.reload();
		}
		addDiag.close();
	}
	addDiag.show(); 
}
</script>
</body>
</html>