<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RtleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Rtle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="logitude" jdbcType="VARCHAR" property="logitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="show_range_message" jdbcType="VARCHAR" property="showRangeMessage" />
    <result column="show_clock_message" jdbcType="VARCHAR" property="showClockMessage" />
    <result column="listen_for_tag_message" jdbcType="VARCHAR" property="listenForTagMessage" />
    <result column="clock_synchorization_message" jdbcType="VARCHAR" property="clockSynchorizationMessage" />
    <result column="listen_for_range_message" jdbcType="VARCHAR" property="listenForRangeMessage" />
    <result column="use_algorithm" jdbcType="VARCHAR" property="useAlgorithm" />
    <result column="delay_vote" jdbcType="VARCHAR" property="delayVote" />
    <result column="anchor_online_threshold" jdbcType="VARCHAR" property="anchorOnlineThreshold" />
    <result column="tag_online_threshold" jdbcType="VARCHAR" property="tagOnlineThreshold" />
    <result column="debug_area" jdbcType="VARCHAR" property="debugArea" />
    <result column="debug_anchor" jdbcType="VARCHAR" property="debugAnchor" />
    <result column="debug_tag" jdbcType="VARCHAR" property="debugTag" />
    <result column="voting_mechanism" jdbcType="VARCHAR" property="votingMechanism" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logitude, latitude, show_range_message, show_clock_message, listen_for_tag_message, 
    clock_synchorization_message, listen_for_range_message, use_algorithm, delay_vote, 
    anchor_online_threshold, tag_online_threshold, debug_area, debug_anchor, debug_tag, 
    voting_mechanism
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtle
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.Rtle">
    insert into rtle (id, logitude, latitude, 
      show_range_message, show_clock_message, listen_for_tag_message, 
      clock_synchorization_message, listen_for_range_message, 
      use_algorithm, delay_vote, anchor_online_threshold, 
      tag_online_threshold, debug_area, debug_anchor, 
      debug_tag, voting_mechanism)
    values (#{id,jdbcType=INTEGER}, #{logitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{showRangeMessage,jdbcType=VARCHAR}, #{showClockMessage,jdbcType=VARCHAR}, #{listenForTagMessage,jdbcType=VARCHAR}, 
      #{clockSynchorizationMessage,jdbcType=VARCHAR}, #{listenForRangeMessage,jdbcType=VARCHAR}, 
      #{useAlgorithm,jdbcType=VARCHAR}, #{delayVote,jdbcType=VARCHAR}, #{anchorOnlineThreshold,jdbcType=VARCHAR}, 
      #{tagOnlineThreshold,jdbcType=VARCHAR}, #{debugArea,jdbcType=VARCHAR}, #{debugAnchor,jdbcType=VARCHAR}, 
      #{debugTag,jdbcType=VARCHAR}, #{votingMechanism,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.Rtle">
    insert into rtle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logitude != null">
        logitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="showRangeMessage != null">
        show_range_message,
      </if>
      <if test="showClockMessage != null">
        show_clock_message,
      </if>
      <if test="listenForTagMessage != null">
        listen_for_tag_message,
      </if>
      <if test="clockSynchorizationMessage != null">
        clock_synchorization_message,
      </if>
      <if test="listenForRangeMessage != null">
        listen_for_range_message,
      </if>
      <if test="useAlgorithm != null">
        use_algorithm,
      </if>
      <if test="delayVote != null">
        delay_vote,
      </if>
      <if test="anchorOnlineThreshold != null">
        anchor_online_threshold,
      </if>
      <if test="tagOnlineThreshold != null">
        tag_online_threshold,
      </if>
      <if test="debugArea != null">
        debug_area,
      </if>
      <if test="debugAnchor != null">
        debug_anchor,
      </if>
      <if test="debugTag != null">
        debug_tag,
      </if>
      <if test="votingMechanism != null">
        voting_mechanism,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logitude != null">
        #{logitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="showRangeMessage != null">
        #{showRangeMessage,jdbcType=VARCHAR},
      </if>
      <if test="showClockMessage != null">
        #{showClockMessage,jdbcType=VARCHAR},
      </if>
      <if test="listenForTagMessage != null">
        #{listenForTagMessage,jdbcType=VARCHAR},
      </if>
      <if test="clockSynchorizationMessage != null">
        #{clockSynchorizationMessage,jdbcType=VARCHAR},
      </if>
      <if test="listenForRangeMessage != null">
        #{listenForRangeMessage,jdbcType=VARCHAR},
      </if>
      <if test="useAlgorithm != null">
        #{useAlgorithm,jdbcType=VARCHAR},
      </if>
      <if test="delayVote != null">
        #{delayVote,jdbcType=VARCHAR},
      </if>
      <if test="anchorOnlineThreshold != null">
        #{anchorOnlineThreshold,jdbcType=VARCHAR},
      </if>
      <if test="tagOnlineThreshold != null">
        #{tagOnlineThreshold,jdbcType=VARCHAR},
      </if>
      <if test="debugArea != null">
        #{debugArea,jdbcType=VARCHAR},
      </if>
      <if test="debugAnchor != null">
        #{debugAnchor,jdbcType=VARCHAR},
      </if>
      <if test="debugTag != null">
        #{debugTag,jdbcType=VARCHAR},
      </if>
      <if test="votingMechanism != null">
        #{votingMechanism,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Rtle">
    update rtle
    <set>
      <if test="logitude != null">
        logitude = #{logitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="showRangeMessage != null">
        show_range_message = #{showRangeMessage,jdbcType=VARCHAR},
      </if>
      <if test="showClockMessage != null">
        show_clock_message = #{showClockMessage,jdbcType=VARCHAR},
      </if>
      <if test="listenForTagMessage != null">
        listen_for_tag_message = #{listenForTagMessage,jdbcType=VARCHAR},
      </if>
      <if test="clockSynchorizationMessage != null">
        clock_synchorization_message = #{clockSynchorizationMessage,jdbcType=VARCHAR},
      </if>
      <if test="listenForRangeMessage != null">
        listen_for_range_message = #{listenForRangeMessage,jdbcType=VARCHAR},
      </if>
      <if test="useAlgorithm != null">
        use_algorithm = #{useAlgorithm,jdbcType=VARCHAR},
      </if>
      <if test="delayVote != null">
        delay_vote = #{delayVote,jdbcType=VARCHAR},
      </if>
      <if test="anchorOnlineThreshold != null">
        anchor_online_threshold = #{anchorOnlineThreshold,jdbcType=VARCHAR},
      </if>
      <if test="tagOnlineThreshold != null">
        tag_online_threshold = #{tagOnlineThreshold,jdbcType=VARCHAR},
      </if>
      <if test="debugArea != null">
        debug_area = #{debugArea,jdbcType=VARCHAR},
      </if>
      <if test="debugAnchor != null">
        debug_anchor = #{debugAnchor,jdbcType=VARCHAR},
      </if>
      <if test="debugTag != null">
        debug_tag = #{debugTag,jdbcType=VARCHAR},
      </if>
      <if test="votingMechanism != null">
        voting_mechanism = #{votingMechanism,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.Rtle">
    update rtle
    set logitude = #{logitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      show_range_message = #{showRangeMessage,jdbcType=VARCHAR},
      show_clock_message = #{showClockMessage,jdbcType=VARCHAR},
      listen_for_tag_message = #{listenForTagMessage,jdbcType=VARCHAR},
      clock_synchorization_message = #{clockSynchorizationMessage,jdbcType=VARCHAR},
      listen_for_range_message = #{listenForRangeMessage,jdbcType=VARCHAR},
      use_algorithm = #{useAlgorithm,jdbcType=VARCHAR},
      delay_vote = #{delayVote,jdbcType=VARCHAR},
      anchor_online_threshold = #{anchorOnlineThreshold,jdbcType=VARCHAR},
      tag_online_threshold = #{tagOnlineThreshold,jdbcType=VARCHAR},
      debug_area = #{debugArea,jdbcType=VARCHAR},
      debug_anchor = #{debugAnchor,jdbcType=VARCHAR},
      debug_tag = #{debugTag,jdbcType=VARCHAR},
      voting_mechanism = #{votingMechanism,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>