<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">
<meta charset="UTF-8">
<title></title>
<style type="text/css">
		.table-query td{
			padding:2px;
		} 
		.w_div1
		{
			float: left;
			background:#3c8dbc;
			border:1px solid #aaa;
			margin-left:2px;
			padding:1px 10px;
			border-radius:4px;
		}
		.w_div1 span
		{
			cursor:pointer;
			font-weight:bold;
			margin-right:5px;
			color: rgba(255, 255, 255, 0.7);
		}
		
</style>
</head>
<body style="text-align: center">
	<form action="saveRtls.do" name="Form" id="Form" method="post">
		<div style="width: 940px;">
			<table id="table_report" class="table table-striped table-bordered table-hover">
				<tr>
					<td style="width: 80px; text-align: right; padding-top: 13px;">经度:</td>
					<td><input class="form-control input-sm" type="text" name="longitude" id="longitude" th:value="${rtle.logitude}" maxlength="32" /></td>
					<td style="width: 80px; text-align: right; padding-top: 13px;">纬度:</td>
					<td><input class="form-control input-sm" type="text" name="latitude" id="latitude" th:value="${rtle.latitude}" maxlength="32" /></td>
				</tr>
				 
				<tr style="">
					<td style="width: 80px; text-align: right; padding-top: 13px;"></td>
					<td th:if="${rtle.showRangeMessage} eq '0'"><div class="checkbox icheck" style="text-align:left;"><label><input id="showRangeMessageInfo" name="showRangeMessageInfo" 
					type="checkbox">是否显示测距消息</label></div></td>
					<td th:if="${rtle.showRangeMessage} eq '1'"><div class="checkbox icheck" style="text-align:left;"><label><input id="showRangeMessageInfo" name="showRangeMessageInfo" 
					type="checkbox">是否显示测距消息</label></div></td>
					<td style="width: 80px; text-align: right; padding-top: 13px;"></td>
					<td th:if="${rtle.showClockMessage} eq '1'"><div class="checkbox icheck" style="text-align:left;"><label><input id="showClockSourceMessageInfo" name="showClockSourceMessageInfo" 
					checked="checked"
					type="checkbox">是否显示时钟消息</label></div></td>
					<td th:if="${rtle.showClockMessage} eq '0'"><div class="checkbox icheck" style="text-align:left;"><label><input id="showClockSourceMessageInfo" name="showClockSourceMessageInfo" 
					type="checkbox">是否显示时钟消息</label></div></td>
				</tr>
				
				
				
				<tr>
					<td style="width: 80px; text-align: right; padding-top: 13px;"></td>
					<td th:if="${rtle.listenForTagMessage} eq '1' ">
					<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorTagMessage" name="apiMonitorTagMessage"  
						 	checked="checked"
					type="checkbox">是否监听标签消息</label></div>
					</td>
					<td th:if="${rtle.listenForTagMessage} eq '0' ">
					<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorTagMessage" name="apiMonitorTagMessage"  
					type="checkbox">是否监听标签消息</label></div>
					</td>
					<td th:if="${rtle.clockSynchorizationMessage} eq '1'">
						<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorClockSyncMessage" name="apiMonitorClockSyncMessage"
						 	checked="checked"
						type="checkbox">是否监听时钟同步消息</label></div>
					</td>
					<td th:if="${rtle.clockSynchorizationMessage} eq '0'">
						<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorClockSyncMessage" name="apiMonitorClockSyncMessage"
						type="checkbox">是否监听时钟同步消息</label></div>
					</td>
					<td th:if="${rtle.listenForRangeMessage} eq '1'">
						<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorTagRangeMessage" name="apiMonitorTagRangeMessage" 
						 	checked="checked"
						type="checkbox">是否监听测距消息</label></div>
					</td>
					<td th:if="${rtle.listenForRangeMessage} eq '0'">
						<div class="checkbox icheck" style="text-align:left; width:200px; height: 10px"><label><input id="apiMonitorTagRangeMessage" name="apiMonitorTagRangeMessage" 
						type="checkbox">是否监听测距消息</label></div>
					</td>
				</tr>
				
				
				<tr>
					<td style="width: 80px; text-align: right; font-weight:bold"><font color="red">
							 </font>投票机制:</td>
					<td><select style="width: 270px;" 
						name="multilaterationAlgorithm" class="form-control select2">
						<option>新seq坐标计算后触发投票</option>
						<option>收到不同的seq消息后触发投票</option>
					</select></td>		 
				</tr>
				
				<tr style="">
					<td style="width: 100px; text-align: right;"><font color="red">
							 *</font>使用算法:</td>
					<td><select style="width: 270px;" id="multilaterationAlgorithm"
						name="multilaterationAlgorithm" class="form-control select2">
						<option>算法一</option>
						<option>算法二</option>
						<option>算法三</option>
					</select></td>
					<td style="width: 80px; text-align: right; font-weight:bold; padding-top: 13px;">延迟投票:</td>
					<td><input class="form-control input-sm" type="text" name="calculateCoordinateVoteDelayMS" id="calculateCoordinateVoteDelayMS" 
					th:value="${rtle.delayVote}" maxlength="32" /></td>
				</tr>
					
				<tr style="">
					<td style="width: 200px; text-align: right; font-weight:bold; padding-top: 13px;">基站在线阈值:</td>
					<td><input class="form-control input-sm" type="text" name="deviceOnlineThreshold" id="deviceOnlineThreshold" 
					th:value="${rtle.anchorOnlineThreshold}" maxlength="32" /></td>
					
					<td style="width: 200px; text-align: right; font-weight:bold; padding-top: 13px;">标签在线阈值:</td>
					<td><input class="form-control input-sm" type="text" name="tagOnlineThreshold" id="tagOnlineThreshold" 
					th:value="${rtle.tagOnlineThreshold}" maxlength="32" /></td>
				</tr>
				<tr>
					 <td style="text-align: right;font-weight:bold;"><font>
							</font>调试区域:
					</td>
					<td style="width: 256px">
						<div style="width:256px">
							<div style="float: left;width:200px;height:90px;border:1px solid #ccc">
								<div id="addAreaTest" style="width:200px;height:90px;color:white;overflow-y:scroll; border: 1px solid #ccc">
									
								</div>
							</div>
							<div style="float:left;width:50px;margin-right:4px;">
								<input type="button" onclick="selectArea()" th:value="选择..." />
							</div>
							</div>
					</td> 
					 <td style="text-align: right;font-weight:bold;"><font>
							</font>调试基站:
					</td>
					<td style="width: 256px">
						<div style="width:256px">
							<div style="float: left;width:200px;height:90px;border:1px solid #ccc">
								<div id="addAnchorTest" style="width:200px;height:90px;color:white;overflow-y:scroll; border: 1px solid #ccc">
									
								</div>
							</div>
							<div style="float:left;width:50px;margin-right:4px;">
								<input type="button" onclick="selectAnchor()" th:value="选择..." />
							</div>
							</div>
					</td> 
				</tr>
				<tr>
					<td style="text-align: right;font-weight:bold;"><font>
							</font>调试标签:
					</td>
					<td style="width: 256px">
						<div style="width:256px">
							<div style="float: left;width:200px;height:90px;border:1px solid #ccc">
								<div id="addTagTest" style="width:200px;height:90px;color:white;overflow-y:scroll; border: 1px solid #ccc">
									
								</div>
							</div>
							<div style="float:left;width:50px;margin-right:4px;">
								<input type="button" onclick="selectTag()" th:value="选择..." />
							</div>
							</div>
					</td>
				</tr>
			</table>
			<table id="table_report" class="table table-striped table-bordered table-hover">
				<tr>
					<td colspan="2" align="right" style="height:40px;"><a class="btn btn-small btn-success btn-sm btn-flat" onclick="setLonLat();">设置中心经纬度</a></td>
					<td colspan="2" align="left" style="height:40px;"><a class="btn btn-small btn-danger btn-sm btn-flat" onclick="save();">保存</a></td>
					
				</tr>
			</table>
		</div>
	</form>	

	<script th:src="@{'/static/staticres/js/jquery-2.2.3.min.js'}"></script>
	<script th:src="@{'/static/staticres/bootstrap/js/bootstrap.js'}"></script>
	<script th:src="@{'/static/staticres/plugins/bootstrap-addtabs/js/bootstrap-addtabs.js'}"></script>
	<script th:src="@{'/static/staticres/plugins/showLoading/js/jquery.showLoading.js'}"></script>
	<script th:src="@{'/static/staticres/dist/js/demo.js'}"></script>
	<script th:src="@{'/static/staticres/test/jquery.js'}"></script>
	<script th:src="@{'/static/staticres/test/jquery-ui.js'}"></script>	
	<!--引入弹窗组件start-->
<script th:src="@{'/static/staticres/plugins/attention/zDialog/zDrag.js'}"></script>
<script th:src="@{'/static/staticres/plugins/attention/zDialog/zDialog.js'}"></script>
<script type="text/javascript">
	//设置中心经纬度
	function setLonLat(){
		var diag = new Dialog();
		diag.Width = '70%';
		diag.Height = '81%';
		diag.Title ="地图窗口";
		diag.URL = 'mapLngLat?longitude='+$("#longitude").val()+'&latitude='+$("#latitude").val();
 		diag.OKEvent = function(){
			var lonlat = diag.innerFrame.contentWindow.document.getElementById('textValue').innerHTML;
			var strs= new Array(2); //定义数组 
			strs=lonlat.split(","); //字符分割 
			$("#longitude").val(strs[0].substring(0,11));
			$("#latitude").val(strs[1].substring(0,10));
			diag.close();
		};
		diag.CancelEvent = function(){ //关闭事件
			diag.close();
		 }; 
		 diag.show();
	}
	//选择基站调试的列表
	function selectAnchor(){
		var diag = new Dialog();
		diag.Width = "50%";
		diag.Height= "60%";
		diag.Title = "调试基站选择";
		diag.URL="selectAnchor";
		 diag.OKEvent = function(){
			  	var receivestr=diag.innerFrame.contentWindow.getAnchorStrs();
		 		var showName=receivestr.split(',');
		 		var flag = 1;
		 		var anchorName = getDebugAnchorName();
		 		console.info("t:"+showName);
		 		if(showName[0]=='')
		 			{
						Dialog.alert("提示：你没有选择任何内容,若想取消选择，请点击【取消】按钮");
		 			}
		 		else{
		 				for(var i =0;i < showName.length;i++){
		 					var id= showName[i];
		 					var anchorArray = anchorName.split(",");
		 					for(var j =0 ; j < anchorArray.length ;j++){
		 						if(id == anchorArray[j]){
		 							Dialog.alert(id+"--已添加");
		 							flag = 0;
		 							break;
		 						}
		 					}
		 					if(flag == 1){
			 					$("#addAnchorTest").append('<div style="float: left;background:#3c8dbc;border:1px solid #aaa;margin-left:2px;padding:1px 10px;border-radius:4px;" id='
			 					+id+' value="'+id+'"><span style="cursor:pointer;font-weight:bold;margin-right:5px;color: rgba(255, 255, 255, 0.7);" onclick="delebase(this)">×</span>'
			 					+showName[i]+'</div>');
		 					}else{
		 						break;
		 					}
		 				}
		 				
		 				if(flag == 1){
			 				$("#debugAnchorList").val(anchorName);
		 				}
		 				
		 				diag.close();
		 			}
				};
		 diag.CancelEvent = function(){ //关闭事件
					diag.close();
				 };
		diag.show();
	}
	//选择区域调试的列表
	function selectArea(){
		var diag = new Dialog();
		diag.Width = "50%";
		diag.Height= "60%";
		diag.Title = "调试区域选择";
		diag.URL="selectArea";
		 diag.OKEvent = function(){
			  	var receivestr=diag.innerFrame.contentWindow.getAreaStrs();
		 		var showName=receivestr.split(',');
		 		var flag = 1;
		 		var areaName = getDebugAreaName();
		 		console.info("t:"+showName);
		 		if(showName[0]=='')
		 			{
						Dialog.alert("提示：你没有选择任何内容,若想取消选择，请点击【取消】按钮");
		 			}
		 		else{
		 				for(var i =0;i < showName.length;i++){
		 					var id= showName[i];
		 					var areaArray = areaName.split(",");
		 					for(var j =0 ; j < areaArray.length ;j++){
		 						if(id == areaArray[j]){
		 							Dialog.alert(id+"--已添加");
		 							flag = 0;
		 							break;
		 						}
		 					}
		 					if(flag == 1){
			 					$("#addAreaTest").append('<div style="float: left;background:#3c8dbc;border:1px solid #aaa;margin-left:2px;padding:1px 10px;border-radius:4px;" id='
			 					+id+' value="'+id+'"><span style="cursor:pointer;font-weight:bold;margin-right:5px;color: rgba(255, 255, 255, 0.7);" onclick="delebase(this)">×</span>'
			 					+showName[i]+'</div>');
		 					}else{
		 						break;
		 					}
		 				}
		 				
		 				if(flag == 1){
			 				$("#debugAreaList").val(areaName);
		 				}
		 				
		 				diag.close();
		 			}
				};
		 diag.CancelEvent = function(){ //关闭事件
					diag.close();
				 };
		diag.show();
	}
	//调试标签
	function selectTag(){
		var diag = new Dialog();
		diag.Width = "50%";
		diag.Height= "60%";
		diag.Title = "调试区域选择";
		diag.URL="selectTag";
		 diag.OKEvent = function(){
			  	var receivestr=diag.innerFrame.contentWindow.getTagStrs();
		 		var showName=receivestr.split(',');
		 		var flag = 1;
		 		var tagName = getDebugTagName();
		 		console.info("t:"+showName);
		 		if(showName[0]=='')
		 			{
						Dialog.alert("提示：你没有选择任何内容,若想取消选择，请点击【取消】按钮");
		 			}
		 		else{
		 				for(var i =0;i < showName.length;i++){
		 					var id= showName[i];
		 					var tagArray = tagName.split(",");
		 					for(var j =0 ; j < tagArray.length ;j++){
		 						if(id == tagArray[j]){
		 							Dialog.alert(id+"--已添加");
		 							flag = 0;
		 							break;
		 						}
		 					}
		 					if(flag == 1){
			 					$("#addTagTest").append('<div style="float: left;background:#3c8dbc;border:1px solid #aaa;margin-left:2px;padding:1px 10px;border-radius:4px;" id='
			 					+id+' value="'+id+'"><span style="cursor:pointer;font-weight:bold;margin-right:5px;color: rgba(255, 255, 255, 0.7);" onclick="delebase(this)">×</span>'
			 					+showName[i]+'</div>');
		 					}else{
		 						break;
		 					}
		 				}
		 				
		 				if(flag == 1){
			 				$("#debugTagList").val(tagName);
		 				}
		 				
		 				diag.close();
		 			}
				};
		 diag.CancelEvent = function(){ //关闭事件
					diag.close();
				 };
		diag.show();
	}
	//保存
	function save(){
		
	}
	//获取调试基站的名称
	function getDebugAnchorName(){
		var myDiv = document.getElementById("addAnchorTest");
		var div_s = myDiv.getElementsByTagName("div");
		var anchorName = '';
		for(var i=0;i<div_s.length;i++){
			anchorName += div_s.item(i).innerHTML.substring(129,div_s.item(i).innerHTML.length)+",";
		}
		return anchorName;
	}
	//获取调试区域的名称
	function getDebugAreaName(){
		var myDiv = document.getElementById("addAreaTest");
		var div_s = myDiv.getElementsByTagName("div");
		var areaName = '';
		for(var i=0;i<div_s.length;i++){
			areaName += div_s.item(i).innerHTML.substring(129,div_s.item(i).innerHTML.length)+",";
		}
		return areaName;
	}
	//获取调试标签的名称
	function getDebugTagName(){
		var myDiv = document.getElementById("addTagTest");
		var div_s = myDiv.getElementsByTagName("div");
		var tagName = '';
		for(var i=0;i<div_s.length;i++){
			tagName += div_s.item(i).innerHTML.substring(129,div_s.item(i).innerHTML.length)+",";
		}
		return tagName;
	}
	//删除元素
	function delebase(divid){
		$(divid).parent().remove();
	}
</script>	
</body>
</html>